html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background: #141414;
    color: #fff;
}

section#schema-validator {
    .editor {
        height: 70vh;
    }
}

section#animator {
    display: flex;
    flex-direction: row;

    #svg-container {
        flex: 1;
        padding: 2em;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    #animation-editor {
        flex: 3;
    }
}
